main > div {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 5px;
  border: 2px dashed black;
}

main > div > div {
  background: yellow;
  width: 33vw;
}

main > div > div:first-child {
  background: black;
}

main > div > div:last-child {
  background: red;
}
