table,
table tr th {
  border-bottom: 8px
    solid black;
}

th {
  font-weight: normal;
}

table
  tr:nth-child(2)
  td {
  font-weight: bold;
  border-bottom: 1px
    solid black;
  text-align: center;
}
