/* css voor de rest van de pagina */
@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

* {
  margin: 0;
  --blue: #008bff;
  --gray: #404349;
  --white: #f0f0f0;
  font-family: "Recursive", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gray);
  color: var(--white);
  height: 68px;
}

header > h1 {
  padding-right: 28px;
}

ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

button {
  padding: 1em 2em;
  cursor: pointer;
  border: 2px solid (0, 0, 0, 0.6);
  border-radius: 12px;
  box-shadow: 2px 2px 0px #54575d;
  color: var(--white);
  background: var(--gray);
  animation: transform 1s;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* CSS van de opdracht */
table,
td {
  border: 1px solid black;
  width: 200px;
  margin: 20px 0;
}

table td:nth-child(2) {
  text-align: center;
}

table td:last-child {
  text-align: end;
}

table:nth-of-type(2) tr:first-of-type td:first-of-type {
  text-align: center;
}
table:nth-of-type(3) tr:first-of-type td:first-of-type {
  width: 50px;
}

table:nth-of-type(4) tr:hover {
  cursor: pointer;
  background: red;
}
