table,
td {
  border: 1px solid
    black;
  width: 200px;
  margin: 20px 0;
}

table
  td:nth-child(2) {
  text-align: center;
}

table
  td:last-child {
  text-align: end;
}

table:nth-of-type(2)
  tr:first-of-type
  td:first-of-type {
  text-align: center;
}

table:nth-of-type(3)
  tr:first-of-type
  td:first-of-type {
  width: 50px;
}

table:nth-of-type(4)
  tr:hover {
  cursor: pointer;
  background: red;
}
