main > table {
  border-spacing: 0;
  border: 4px solid blue;
}

td {
  height: 50px;
  width: 50px;
}

tr > td:nth-child(even),
tr:nth-child(even) > td:nth-child(odd) {
  background: rgba(172, 216, 230);
}

tr:nth-child(even) > td:nth-child(even) {
  background: blue;
}
